*.iml
.gradle
.idea
.DS_Store
local.properties

# Build outputs
build/
**/build/

# Native
.externalNativeBuild
.cxx
*.hprof

# iOS
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
iosApp/Pods/

# Kotlin/Native
.konan/

# Logs
*.log
